:root {
  --main-color: #585858;
  --main-green: #769476;
  --green-hover: #668a678e;
}

body {
  margin: 0;
  padding: 0;
  --animate-duration: .1s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

main {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  padding: 0 0 3.5rem 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header-section .arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-green);
  margin-left: -25px;
  -webkit-animation: arrow-down 2.6s ease infinite;
          animation: arrow-down 2.6s ease infinite;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header-section .arrow-down i {
  font-size: 1.4rem;
  color: whitesmoke;
  padding: 0;
  margin: 0;
}

.header-section .header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 13rem;
  height: 15rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #3d3d3d3d;
  position: relative;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-section .header-card .title-card-container {
  padding: 0 1rem;
  position: absolute;
  top: -0.9rem;
  left: 0;
  width: 100%;
}

.header-section .header-card .title-card-container .title-container {
  background-color: #ffffff;
  border: 2px solid #3d3d3d3d;
  width: 100%;
  margin: 0;
  padding: 0.2rem;
  border-radius: 0.4rem;
}

.header-section .header-card .title-card-container .title-container h2 {
  font-size: 1rem;
  margin: 0;
  border-radius: 1rem;
  text-align: center;
}

.header-section .header-card .header-card-item-bottom-border {
  border-bottom: 2px solid #d1d1d1;
  width: 100%;
  padding-bottom: 1rem;
}

.header-section .header-card .header-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .header-card .header-card-item #besmettingen-aantal {
  color: #e66666f5;
}

.header-section .header-card .header-card-item #populatie-aantal {
  margin-bottom: .4rem;
}

.header-section .header-card .header-card-item h3 {
  font-weight: normal;
}

.header-section .header-card .header-card-item div {
  border: 2px solid #3d3d3d3d;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 0.3rem;
  margin: 0;
  padding: 0 0.3rem;
}

#map-section {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

#map-section .waar-map-container {
  width: 100%;
  padding: 1rem 4rem 4rem 4rem;
}

#map-section .waar-map-container #map-container {
  height: 25rem;
}

#map-section .waar-map-container #map-container iframe {
  border-radius: 1rem;
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.082));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.082));
}

#map-section .waar-map-container .map-hidden {
  display: none;
}

#map-section .waar-map-container h3 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

#map-section .waar-map-container hr {
  border-color: rgba(134, 134, 134, 0.123);
}

#map-section .waar-map-container .centrum-info-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#map-section .waar-map-container .waar-plaats-container,
#map-section .waar-map-container .gsm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 4.5rem;
}

#map-section .waar-map-container .waar-plaats-container *,
#map-section .waar-map-container .gsm-container * {
  color: var(--main-color);
  font-size: 1.8rem;
}

#map-section .waar-map-container .waar-plaats-container i,
#map-section .waar-map-container .gsm-container i {
  color: #EA4435;
  margin-right: .5rem;
}

#map-section .waar-map-container .waar-plaats-container i,
#map-section .waar-map-container .gsm-container i {
  background-color: #7487a1;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  margin: 10px 15px;
  vertical-align: middle;
  color: white;
  font-size: 1.2rem;
  padding-right: 1px;
  padding-top: 0px;
}

#map-section .waar-map-container .locatie-waar {
  font-weight: bold;
  font-size: 2rem;
}

#scrol {
  height: 5rem;
  width: 100%;
}

.toegediende-section {
  width: 100%;
  background-color: var(--main-green);
}

.toegediende-section h2 {
  text-align: center;
  padding-top: 1.6rem;
  color: white;
  font-size: 2rem;
  margin: 0;
  text-shadow: 0px 1px 6px #4141414d;
}

.toegediende-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.6rem 0 4rem 0;
}

.toegediende-container .toegediende-card {
  width: 13rem;
  border: 2px solid #3d3d3d3d;
  background-color: #f4f6f5;
  border-radius: 15px;
}

.toegediende-container .toegediende-card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.toegediende-container .toegediende-card .toegediende-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid #3d3d3d3d;
}

.toegediende-container .toegediende-card .first-dose,
.toegediende-container .toegediende-card .second-dose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.8rem 0;
}

.toegediende-container .toegediende-card .first-dose h3,
.toegediende-container .toegediende-card .second-dose h3 {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}

.toegediende-container .toegediende-card .first-dose div,
.toegediende-container .toegediende-card .second-dose div {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #3d3d3d3d;
  border-radius: 6px;
  margin-top: 0.8rem;
  padding: 0.2rem 0.3rem;
}

.voorkomen-section {
  width: 100%;
  background-color: var(--main-green);
}

.voorkomen-section .voorkomen-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 0;
}

.voorkomen-section .voorkomen-container h2 {
  margin: 0;
}

.voorkomen-section .voorkomen-container .video-container {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.voorkomen-section .voorkomen-container .video-container .video-off {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.voorkomen-section .voorkomen-container .video-container video {
  width: 100%;
  max-width: 30rem;
  border-radius: 2rem;
}

.voorkomen-section .voorkomen-container .video-container video:hover {
  cursor: pointer;
}

.voorkomen-section .voorkomen-container .video-container i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  margin-top: -1rem;
  padding-right: 0.1rem;
  padding-top: 0.1rem;
  border-radius: 25%;
  background-color: whitesmoke;
  color: var(--main-green);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-filter: drop-shadow(2px 2px 37px black);
          filter: drop-shadow(2px 2px 37px black);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.voorkomen-section .voorkomen-container .video-container i:hover {
  cursor: pointer;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  border-radius: 50%;
}

.voorkomen-section .voorkomen-container .voorkomen-info {
  width: 50%;
}

.voorkomen-section .voorkomen-container .voorkomen-info * {
  color: white;
}

.voorkomen-section .voorkomen-container .voorkomen-info .vlaamse-overheid-text {
  text-decoration: underline;
  font-style: italic;
  color: rgba(238, 245, 248, 0.966);
}

.waar-gevaccineerd-section {
  width: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.waar-gevaccineerd-section .waar-gevaccineerd-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 0 2rem;
}

.waar-gevaccineerd-section .waar-gevaccineerd-container h2 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 2rem;
}

.zoek-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 3rem;
}

.zoek-input-container button {
  font-size: 1.3rem;
  border-radius: 0rem .5rem .5rem 0;
  font-weight: 450;
  padding: 0 1rem;
  height: 2.5rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: var(--main-green);
  color: white;
  border: none;
  outline: none;
}

.zoek-input-container button:hover {
  cursor: pointer;
  background-color: #708b6f;
}

.zoek-input-container button:active, .zoek-input-container button:focus {
  border: none;
  outline: none;
}

.zoek-input-container input[type="text"] {
  height: 2.5rem;
  width: 30rem;
  font-size: 1.3rem;
  padding: 0 0 0 .5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1.8px solid #00000033;
  border-right: none;
  outline: none;
  -webkit-box-shadow: 0 0px 0px 1px #9191910d, 0 0px 3px 4px #8686860a inset;
          box-shadow: 0 0px 0px 1px #9191910d, 0 0px 3px 4px #8686860a inset;
}

input[type="submit"] {
  display: none;
}

.waar-zoeken-container {
  padding-bottom: 4rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.waar-zoeken-container h3 {
  text-align: center;
  font-size: 3rem;
}

#toegediend {
  height: 55px;
  width: 100%;
  visibility: hidden;
}

.background-filter {
  background-color: #f5f5f5ce;
  width: 100%;
  height: 100%;
}

.belgie_svg {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

path {
  fill: #f9fcfa;
  stroke: #3d3d3d96;
  stroke-width: 0.8px;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}

svg {
  -webkit-filter: drop-shadow(1px 1px 0px rgba(88, 88, 88, 0.548));
          filter: drop-shadow(1px 1px 0px rgba(88, 88, 88, 0.548));
}

.path-hover {
  fill: var(--green-hover);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0 !important;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.clipper {
  height: 5rem;
  width: 100%;
}

footer {
  width: 100%;
}

nav {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  border: 1px solid #0000002c;
  background-color: white;
  z-index: 5;
}

.logo {
  height: 40px;
  margin: 0.5rem 0 0 2rem;
}

.logo_footer {
  margin: 0;
}

.adres {
  margin-bottom: 0.5rem;
}

.home_banner {
  width: 100vw;
}

.underline:hover {
  text-decoration: underline;
}

.logo_footer {
  margin: 0;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

#menu a {
  height: 40px;
  line-height: 43px;
  margin: 0px;
  padding: 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

#menu a:hover {
  -webkit-box-shadow: 5px 10px 30px #35353508;
          box-shadow: 5px 10px 30px #35353508;
  border-radius: 3px;
  position: relative;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  text-decoration: underline;
  text-underline-offset: .1rem;
  -webkit-text-decoration-color: var(--main-green);
          text-decoration-color: var(--main-green);
}

.close {
  display: none;
}

#hamburger {
  display: none;
  font-size: 1.9rem;
  width: 31px;
  height: 26px;
  padding-right: 4rem;
}

.open-hamurger {
  top: 3.4rem !important;
  z-index: -999 !important;
}

.current-page {
  color: var(--main-green);
}

.current-page:hover {
  text-decoration: none !important;
}

.footer-container {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-evenly;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-container h3 {
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-container .footer-links {
  margin: 20px 0 12px;
  padding: 0;
}

.footer-container .footer-links a {
  display: inline-block;
  line-height: 1.8;
  color: inherit;
}

.footer-container .footer-bedrijf-name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-container .footer-center i {
  background-color: #74a175;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  margin: 10px 15px;
  vertical-align: middle;
  color: white;
  font-size: 1rem;
  padding-right: 1px;
  padding-top: 1px;
}

.footer-container .footer-center p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.footer-container .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-container .footer-center p a {
  text-decoration: none;
}

.footer-container .footer-bedrijf-about {
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-container .footer-bedrijf-about span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-container .footer-icons {
  margin-top: 25px;
}

.footer-container .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-container {
    font: bold 14px sans-serif;
  }
  .footer-container .footer-left,
  .footer-container .footer-center {
    display: block;
    width: 100%;
    text-align: center;
  }
  .footer-container .footer-center i {
    margin-left: 0;
  }
}

@media (max-width: 880px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 720px) {
  #hamburger {
    display: block;
  }
  #menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
    background: #f7f7f7;
    top: -179px;
    z-index: -5;
    margin: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.171);
    -webkit-box-shadow: 0 2px 18px -3px #56565685;
            box-shadow: 0 2px 18px -3px #56565685;
  }
  #menu a {
    margin: 0.2rem 1rem;
  }
  .close {
    display: initial;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.9rem;
    color: #76716a;
  }
}

@media (max-width: 440px) {
  .footer-links {
    display: none;
  }
  .logo_footer {
    margin-bottom: 1rem;
  }
  .fa-map-marker,
  .fa-phone,
  .fa-envelope {
    display: none;
  }
}

@-webkit-keyframes arrow-down {
  0% {
    bottom: 1rem;
  }
  30% {
    bottom: 2rem;
  }
  30% {
    bottom: 2rem;
  }
  60% {
    bottom: 1rem;
  }
  100% {
    bottom: 1rem;
  }
}

@keyframes arrow-down {
  0% {
    bottom: 1rem;
  }
  30% {
    bottom: 2rem;
  }
  30% {
    bottom: 2rem;
  }
  60% {
    bottom: 1rem;
  }
  100% {
    bottom: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */